Source: bsdgames
Section: games
Priority: optional
Build-Depends: debhelper (>= 3), libncurses5-dev, flex, bison, wenglish
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.5.2.0

Package: bsdgames
Architecture: any
Depends: ${shlibs:Depends}, wenglish | wordlist
Conflicts: bsdgames-nonfree (<< 2.5), suidmanager (<< 0.50)
Replaces: bsdgames-nonfree (<< 2.5)
Description: collection of text games from BSD systems
 This is a collection of some of the text-based games and amusements that have
 been enjoyed for decades on unix systems.
 .
 Includes these programs: adventure, arithmetic, atc, backgammon, battlestar,
 bcd, boggle, caesar, canfield, countmail, cribbage, fish, gomoku, hangman,
 hunt, mille, monop, morse, number, pig, phantasia, pom, ppt, primes, quiz,
 random, rain, robots, sail, snake, tetris, trek, wargames, worm, worms,
 wump, wtf
